.feynman {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  min-height: 890px;
  background-image: url(/images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 867px 637px;
}