.feynman__link {
  position: absolute;
  align-self: flex-end;
  margin: 0;
  top: 50vh;
  right: 48px;
  width: fit-content;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__link:hover {
  opacity: 0.7;
  transition: .5s;
}