.table {
  display: flex;
  width: 1100px;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}