@import url(/styles/blocks/section-subtitle/_theme/section-subtitle_theme_dark.css);

.section-subtitle {
  width: 60%;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}