
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}
.logo {
  position: absolute;
  size: 228px 32px;
  margin-top: 30px;
}
.logo_place_header {
  display: flex;
  position: absolute;
}

.header {
  background-color: #f2f2f2;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  padding-left: 64px;
}
.header__title {
  font-size: 102px;
  width: 730px;
  font-weight: 600;
  line-height: 96px;
  margin: auto;
  margin-left: 0;
}
.header__subtitle {
  display: flex;
  position: absolute;
  width: 388px;
  margin-bottom: 30px;
  margin-left: 64px;
  align-self: flex-end;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.header__link {
  display: flex;
  position: absolute;
  align-self: flex-end;
  left: 70px;
  text-decoration: none;
  color: #2f80ed;
}
.header__square-pic {
  display: flex;
  position: absolute;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  margin-top: 64px;
  right: 0;
}
.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  align-self: flex-end;
  right: 0;
}

/* block description */
.description {
  display: flex;
  margin: 100px auto;
  justify-content: center;
}
.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}
.two-columns__main-text_size {
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  width: 80%;
  font-weight: normal;
}
.two-columns__span-accent {
  font-weight: 600;
}
.main-text_two {
  margin: 30px auto;
}
.main-text__bold {
  font-weight: 600;
}

/*block digits*/
.digits {
  padding-bottom: 100px;
}
.digits__width {
  width: 60%;
  text-align: center;
}
.digits__section-title {
  margin-top: 100px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
}
.section-subtitle {
  margin-top: 20px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
}
.table {
  display: flex;
  width: 1100px;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  position: relative;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
.table__text {
  position: relative;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px auto;
}

/*block feynman*/
.feynman {
  background-color: #f2f2f2;
  margin-top: 100px;
  height: 890px;
  background-image: url(/images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 867px 637px;
}
.feynman__title {
  width: 648px;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  line-height: 1.15;
  margin-left: auto;
  margin-right: auto;
}
.feynman__subtitle {
  margin-top: 70px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.feynman__link {
  display: flex;
  position: relative;
  margin-right: 48px;
  margin-left: auto;
  width: fit-content;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

/*block kaufman*/
.kaufman {
  background-color: #1f1f1f;
  color: white;
  overflow: hidden;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: 877px;
  background-position: top 0 right -210px;
}

.kaufman__title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.kaufman__subtitle {
  width: 60%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.table__heading_theme_dark {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
}
.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
.kaufman__table {
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
}

/*block footer*/
.footer {
  box-sizing: border-box;
  display: flex;
  flex-basis: 711px;
  background-color:  #1f1f1f;
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
}
.footer__columns {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.footer__column_content_copyright {
  display: flex;
  position: relative;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
}
.logo_place_footer {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  width: 228px;
  height: 32px;
}
.footer__author {
  position: relative;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: fit-content;
  margin: 18px 0;
}
.footer__column_content_info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
  justify-content: flex-start;
}
.footer__column_content_social {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: auto;
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-link {
  color: white;
  line-height: 30px;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
}
.footer__social-icon {
  position: relative;
  width: 16px;
  height: 16px;
}
